################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevTesting/FileContentIndex/892cb903-e88e-4c2a-b768-86ee6225c913.vsidx
/.vs/DevTesting/FileContentIndex
